.logo {
    width: 120px;
    margin: 10px;
    margin-left: 100px;
}

.navigationPane {
    display: flex;
    flex-direction: row;
}

.navigationButton1 {
    display: flex;
    margin-left: 100px;
}

.button2 {
    background-color: rgb(36, 21, 3);
}

.navigationButton2 {
    margin-left: 400px;
    display: flex;
    gap: 10px;
}

